/*Блок с фотографией*/
.foto{width:230px;height:100%;float:left;}
.main-info-p{margin:0 0 7px 0;padding:0;color:#727070;list-style-type: none;}
.my_foto_box{width:155px;height:155px;border-radius:92px;margin:0 auto;border:1px solid #e0dfde;}
.foto_box{width:139px;height:139px;overflow:hidden;border-radius:92px;margin-top:7px;margin-left:7px;border:1px solid #e0dfde;}
.my_foto{height:100%;margin-left:-25px;}
.second{margin-left:10px;font-family: "OpenSansRegular"}
.main-info-b{width:420px;margin-left:230px;}
.main_inform{padding:0px;margin-top:0;}
.skills{display:table;;height:30px;margin-left:145px;margin-top:-17px;}
.skill{display:inline-block;height: 19px;position:relative;float:left;margin:0 8px 8px 0;}
.left-pic{position: absolute;left:0px;z-index:1;}
.right-pic{position: absolute;right:0px;z-index:1;}
.skill_body{background:url(/images/kolbasa2.png) repeat-x;z-index:3;margin:0 7px 0 15px;padding:0 4px;height:19px;line-height: 1.8;}
.skill-p{text-align:center;position:relative;margin-left:15px;margin-right:15px;font-size:10px;margin:0;color:#1e7465;}

/*Опыт работы, образование*/
.rabota-educ{margin:0;}
.tc{display:table-cell;top:0px;left:0px;vertical-align:middle;width:56px;}
.rabota-educ-li{padding:10px 0 10px 0;display:block;min-height:53px;border-bottom:1px solid #dbdbda;width:93%;display:table;}
.rabota-educ-li:last-child{border:none;}
.chemodan{float:left;margin-right:30px;display:inline-block;}
.rab-place{color:#727070;margin:5px 0 0 0;}
.rab-time{font-family:"OpenSansRegular"; color:#727070;margin-top:0;}