/*@media only screen and (max-width : 1450px){
	.head{width:75%;}

}

@media only screen and (max-width : 1250px){
	.head{width:85%;}

}*/

@media only screen and (max-width : 960px){
	.content{width:auto;}
	.head{min-width:500px;width:100%;}
	.header_box{max-width:960px;}
	.soc-nets{margin-right:20px;}
	.footer{width:100%;min-width:100%;}
	.menu-contacts{float:none;}
	.info-block{float:none;}
	.menu-contacts{width:100%;}


}

@media only screen and (max-width : 700px){
	body{min-width:400px;}
	.main-content{float:none;}
	.menu-contacts{width:90%;margin:0 auto;}
	.main-content{width:90%;margin:0 auto;}
	.main-info-title{width:95%;padding:9px 10px;}
	.foto{margin:0 auto;float:none;}
	.main-info-b{margin:0 auto;width:320px;max-width:410px;}
	.main-info-body{padding:10px;width:95%;}
	.header_box{margin-bottom:0;}
	.contacts{margin-top:25px;}
	.main-menu{display:none;}

}


