html,body{font-size:20px; font-family: "OpenSansSemibold"; height:100%; background: url(../images/background.png) center center fixed;
 -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;width:100%;}


.header_box{margin-bottom:36px;width:100%;height:90px;background:url(../images/grey-header.jpg) repeat;border-bottom:7px solid white;-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);}
.clearfix:before, .clearfix:after {content: " "; display: table;}
.clearfix:after {clear: both;}

.head{margin:0 auto;position: relative;width:65%;min-width:960px;}
.logo{width:120px;height:90px;float:left;margin-left:9px;}
.content{margin:0 auto;display:table;width:960px;}
.menu-contacts{width:250px;height:100%;float:left;margin-right:20px;}



/*Социалки*/
.soc-nets{width:232px;float:right;height:90px;float:right;padding-top:5px;position:relative;margin-right:-7px;}
.nets{padding:0;}
.net{display:inline-block;margin-right:4px;}
.net:last-child{margin-right:0px;}







/*Навигация слева*/
.main-menu{margin-bottom:35px;}
.main-menu-ul{padding:0;margin:0;border-radius:4px;}
.main-menu-li{display:block;min-height:23px;background:url(../images/white.png); background-size:cover;border:1px solid #c2c2c2;border-bottom:0;padding:14px 15px 14px 30px;}
.main-menu-li:last-child{border-bottom:1px solid #c2c2c2;}
.active{display:block;min-height:23px;background:url(../images/green.png);background-size:cover;padding:14px 15px 14px 30px;}
.main-menu-li:hover{display:block;background:url(../images/grey.png);background-size:cover;}
.main-menu li:first-child{border-radius:4px 4px 0 0;}
.main-menu li:last-child{border-radius:0 0 4px 4px;-webkit-box-shadow: 0px 3px 8px 0px rgba(213,207,150,1);
-moz-box-shadow: 0px 3px 8px 0px rgba(213,207,150,1);
box-shadow: 0px 3px 8px 0px rgba(213,207,150,1);}
.main-menu-a{font-size:20px;text-decoration:none;color:#727070;display:block;}



/*Блок контактов*/
.contacts{margin-bottom:35px;}
.contacts-ul{list-style-type: none;margin:0;padding:0;}
.cont-span{margin-left:30px;color:#d0982c;font-size:20px;}
.contacts-title{height:41px;background:url(../images/orange.png) repeat-x;border-radius:4px 4px 0 0;line-height:2;}
.contacts-a{text-decoration:none;display:block;}
.contacts-li{display:block;height:36px;background:url(../images/contacts-bg.png) repeat-x;border:1px solid #c2c2c2;position:relative;border-bottom:0;}
.contacts-li:last-child{border-bottom:1px solid #c2c2c2;}
.contacts-li:hover{background:url(../images/contacts-bg-hover.png) repeat-x;}
.left-content{float:left;}
.main-content{width:650px;float:right}
.contimg{margin-left:20px;}
.contacts-span{position:absolute;top:8px;left:70px;font-size:15px;font-family: "OpenSansRegular";color:#a6a5a5;}
.contacts-span:hover{text-decoration:underline;}


/*Основные блоки*/
.info-block{margin-bottom:32px;}
.main-info-body{border:1px solid #bebebe;height:100%;background:#f7f6f5;border-radius:0 0 4px 4px;display:table;padding:25px 0 25px 0;width:100%;font-size:14px;}
.main-info-title{width:606px;border-left:1px solid #757575; border-right:1px solid #757575;min-height:36px;border-radius:4px 4px 0 0;background:url(../images/grey_bg.png); background-size:cover;font-size:24px;color:#eeedec;padding:9px 0 9px 44px;}
/*.top-space{margin-top:32px;}*/


/*футер*/
.footer-box{background-color:#fff;border-top:#637d78;height: 60px; margin-top: -60px;}
.wrapper{height: 100%;}
.content-footer{box-sizing: border-box; min-height: 100%; padding-bottom: 90px;}
.footer{margin:0 auto;height:60px;}
.enter{display: table;position:relative;margin:0 auto;}
.enter_lock_unlock{padding:20px;display:table;float:left;}
.author{display:inline-block; float:right;padding:14px;}
.vhod{color: #a3a3a3;font-size:13px;display:inline-block;float:left;}
.inauthor{color: #a3a3a3;font-size:13px;text-align:center;font-family:"OpenSansRegular";width:510px;}

/*Спрайты*/


.sprite {
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-indent:-9999px;
}

.sprite-facebook {
    width: 42px;
    height: 44px;
    background-position: -5px -5px;
}

.sprite-facebook:hover {
    width: 42px;
    height: 44px;
    background-position: -57px -5px;
}

.sprite-github {
    width: 42px;
    height: 44px;
    background-position: -109px -5px;
}

.sprite-github:hover {
    width: 42px;
    height: 44px;
    background-position: -5px -59px;
}

.sprite-locked {
    width: 18px;
    height: 21px;
    background-position: -57px -59px;
    display:inline-block;
    float:left;
}

.sprite-twitter {
    width: 42px;
    height: 44px;
    background-position: -85px -59px;
}

.sprite-twitter:hover {
    width: 42px;
    height: 44px;
    background-position: -161px -5px;
}

.sprite-locked:hover {
    width: 23px;
    height: 21px;
    background-position: -137px -59px;
}

.sprite-vk {
    width: 42px;
    height: 44px;
    background-position: -137px -90px;
}

.sprite-vk:hover {
    width: 42px;
    height: 44px;
    background-position: -5px -144px;
}

.fa-bars{
    width: 42px;
    height: 44px;
}

.sprite2 {
    background-image: url(../images/spritesheet2.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-navigation {
    width: 25px;
    height: 21px;
    background-position: -5px -5px;
    margin-bottom:11px;
    display:none;
}

.sprite-navigation:hover {
    width: 25px;
    height: 21px;
    background-position: -40px -5px;
    
}





