/*Страница3 форма*/
.form{width:404px; margin:0 auto;position:relative;height:733px;}
.form input,.form label,.form img,textarea{font-size:14px;outline:none;display:block;}
label{margin-bottom:4px;}
.name-email{height:70px;margin-top:9px;}
.form-name-box{float:left;position:relative;}
.form-email-box{float:right;position:relative;}
.textarea-box{margin-top:10px;position:relative;}
.capcha-box{height:100px;margin-top:16px;position:relative;}
.capcha-label{margin-bottom:5px;}
.capcha-img{float:left;}
.capcha-input-box{float:right;}
.buttons{margin-top:36px;height:50px;}
.button-submit-box{float:left;}
.button-clear-box{float:right;}
.form-name-span{font-family:"OpenSansRegular";color:#727070;}
.form-email-span{font-family:"OpenSansRegular";color:#727070;}
.name{color:#c7c6c6;font-family:"OpenSansLight";width:182px;border-radius:5px;height:40px;border:1px solid #d6d5d3;background-color:inherit;padding-left:10px;}
.email{color:#c7c6c6;font-family:"OpenSansLight";width:182px;border-radius:5px;height:40px;border:1px solid #d6d5d3;background-color:inherit;padding-left:10px;}
.form-message-span{font-family:"OpenSansRegular";color:#727070;}
.textarea{color:#c7c6c6;font-family:"OpenSansLight";width:390px;height:177px;background-color:inherit;border-radius:5px;border:1px solid #d6d5d3;padding-left:10px;}
.form-capcha-span{font-family:"OpenSansRegular";color:#727070;}
.capcha{width:190px;border-radius:5px;border:1px solid #d6d5d3;}
.submit{margin-left:30px;width:122px;height:39px;color:#1e7465;background:url(../images/submit_bg.jpg) repeat-x;border-radius:5px;border:1px solid #d6d5d3;}
.submit:hover{background:url(../images/green_bg_hover_but.png) repeat-x;}
.clear{margin-right:30px;text-align:center;width:122px;height:39px;color:#727070;border-radius: 5px;background:inherit;border:1px solid #d6d5d3;font-family: "OpenSansSemiBold";background:url(../images/clear-bg.jpg) repeat-x;}
.clear:hover{background:url(../images/clear-bg-hover.jpg) repeat-x;}
.capcha-input{margin-top:20px;color:#c7c6c6;font-family:"OpenSansLight";padding-left:10px;width:180px;height:32px;border-radius:5px;background: inherit;border:1px solid #d6d5d3;}
.capcha-input, .name, .email, .textarea{-webkit-box-shadow: inset 1px 1px 5px -2px rgba(136,136,136,1);
-moz-box-shadow: inset 1px 1px 5px -2px rgba(136,136,136,1);
box-shadow: inset 1px 1px 5px -2px rgba(136,136,136,1);}
.tooltip{display:none;position:absolute;font-size:12px;font-family: "OpenSansSemibold"; color:#9a4e32; background:url(../images/tooltip_bg.png) repeat-x; border-radius:7px;height:22px; border:1px solid #d58063;padding:5px 10px 0 5px;left:-150px;}
.tooltip:after{ content: "";display: block;width: 17px;height: 17px;background: url(../images/romb.png) 100%;position: absolute;top: 5px;right: -7px;}
.tooltip-back{display:none;position:absolute;font-size:12px;font-family: "OpenSansSemibold"; color:#9a4e32; background:url(../images/tooltip_bg.png) repeat-x; border-radius:7px;height:22px; border:1px solid #d58063;padding:5px 10px 0 15px;left:210px;min-width:90px;}
.tooltip-back:before{ content: "";display: block;width: 23px;height: 13px;background: url(../images/romb.png) 100%;position: absolute;top: 7px;left: -7px;}

/*Общие стили для формы*/
::-webkit-input-placeholder {
	font: 14px 'OpenSansLight', 'Arial', sans-serif;
	color: #c7c6c6;
}
::-moz-placeholder {
	font: 14px 'OpenSansLight', 'Arial', sans-serif;
	color: #c7c6c6;
}
:-moz-placeholder {
	font: 14px 'OpenSansLight', 'Arial', sans-serif;
	color: #c7c6c6;
}
:-ms-input-placeholder {
	font: 14px 'OpenSansLight', 'Arial', sans-serif;
	color: #c7c6c6;
}
:focus::-webkit-input-placeholder {
	color: transparent
}
:focus::-moz-placeholder {
	color: transparent
}
:focus:-moz-placeholder {
	color: transparent
}
:focus:-ms-input-placeholder {
	color: transparent
}