<div class="header_box">
    <header class="head clearfix">
        <div class="logo">
            <a href="/"><img src="images/logo2.png" alt="logotip" class="img_logo" /></a>
        </div>
        <div class="soc-nets">
            <ul class="nets">
                <li class="net net__contact"><a href="https://www.facebook.com/profile.php?id=100004816069348" title="facebook" class="social_net_facebook"><i class="sprite sprite-facebook">facebook</i></a></li>
                <li class="net net__contact"><a href="https://vk.com/tamdamdam" title="vk"><i class="sprite sprite-vk">vkontakte</i></a></li>
                <li class="net net__contact"><a href="https://twitter.com/" title="twitter"><i class="sprite sprite-twitter">twitter</i></a></li>
                <li class="net net__contact"><a href="https://github.com/abaha91" title="github"><i class="sprite sprite-github">github</i></a></li>
                <li class="net net__button"><a href="#" title="nav" class="menu-link"><i class="sprite2 sprite-navigation"></i></a></li>
            </ul>
        </div>
    </header>
</div>